<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>

    <form id="edit_user" action="editted" method="POST">
        <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="current">Current Password:</label>
        <input type="password" id="current" name="current" required>
        <input type="submit" value="Edit User">
    </div>
</body>
</html>