<!doctype html>
<html>
  <head>
    <title>Welcome to BitePair</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <body>
    <h3 id="HELLO">Welcome to BitePair</h3>
    <div class="shop-container">
        <h4>Users</h4>
        <p><a href="users/users">Users</a></p>
      <p><a href="users/login">Login</a></p>
      <p><a href="users/register">Register an account</a></p>
      <p><a href="users/logout">Logout</a></p>
      <p><a href="users/edit">Edit account</a></p>
        <h4>Menu</h4>
        <p><a href="menu/delete" >Delete item</a></p>
        <p><a href="menu/wine/delete" >Delete wine item</a></p>
        <p><a href="menu/food">Food</a></p>
        <p><a href="menu/foodtest">Food test</a></p>
        <p><a href="menu/drinks">Drinks</a></p>
        <p><a href="menu/drinkstest">Drinks test</a></p>
        <p><a href="menu/wines">Wine</a></p>
        <p><a href="menu/winetest">Wine test</a></p>
        <p><a href="menu/add">Add item</a></p>
        <p><a href="menu/edit">Edit menu</a></p>
        <p><a href="menu/wine/add">Add wine item</a></p>
        <p><a href="menu/wine/edit">Edit wine menu</a></p>
    </div>  
  </body>
</html>
